<template >
  <div class="main">
    <label for="text" id="t">Word2Vec </label>
    <form
        id="app"
        v-on:submit.prevent = "sendWords"
    >
      <p>
        <label for="text" id="t">Введите текст: </label>
      </p>
      <p>
        <input
            id="text"
            v-model="text"
            type="text"
            name="text"
            @keyup.enter="sendWords"
            required
        >
        <input
            id="button"
            type="submit"
            value="Отправить"
        >
    
        
      </p>
    </form>
    <p v-if="response !== ''">{{ response }}</p>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'App',
  data() {
    return {
      text: '',
      response: '',
    };
  },
  methods: {
    sendWords() {
      axios
          .post('http://localhost:8081/model', { 'text': this.text })
          .then(response => {
            console.log(response);
            if (response.data.result == true) {
              this.response = 'Это позитивный текст';
            }
            else if (response.data.result == false) {
              this.response = 'Это негативный текст';
            }
          })
          .catch(error => {
            this.response = 'Модель не может обработать этот текст';
            console.log(error);
          })
    }
  }
}
</script>

<style>
.main{
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#t{
  font-weight: bold;
  font-size: 18px;
}
#text{
  border-radius: 10%;
  width: 600px;
}
#button {
  background-color: green;
  border-radius: 10%;
  color: white;
  
}
</style>
